{% extends 'admin/base.html.twig'%}

{% block body %}

<div class="container border my-3 shadow p-3 mb-5 rounded bg-dark text-white text-center">

    <h2>{{ category.name }}</h2>
    <i>id : {{ category.id }}</i>
    <br>
    <br>
    <b>Posts de la catégorie :</b>
    <br>
     {% for post in post %}
        <a href= "http://symfony.iut/admin/post/{{post.slug}}" class="text-warning mx-2"> {{ post.title }}
        <br>
    {% endfor %}
    </a>
</div>
{% endblock %}